

<!DOCTYPE html>

<html>



<title>Health Plus</title>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="./assets/w3.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>

body,h1 {font-family: "Raleway", sans-serif}

body, html {height: 100%}

.bgimg {

    background-image: url('./assets/bg.jpg');

    min-height: 100%;

    background-position: center;

    background-size: cover;

}

</style>



<body>

​

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">

  <div class="w3-display-topleft w3-padding-large w3-xlarge">

    Health Plus 

  </div>

  <div class="w3-display-middle">

    
      
  <div style="margin-right: 50px;"   class="w3-container w3-white w3-padding-32 w3-display-right w3-round-xlarge" >
      <h3 align="center">Sign Up as Patient</h3>
        <form action="/insert"  style="width:300px;">
          <p><input class="w3-input w3-border" type="text" placeholder="Firstname" name="fname" required></p>
           <p><input class="w3-input w3-border" type="text" placeholder="Lastname" name="lname" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="E-mail ID" name="ename" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Username" name="uname" required></p>
          <p><input class="w3-input w3-border" type="Password" placeholder="Password" name="pass1" required></p>
          <p><input class="w3-input w3-border" type="Password" placeholder="Confirm Password" name="pass2" required></p>
          <button type="submit" class="w3-button w3-block w3-red">Sign Up</button>
        </form>
        <h5 align="center" class="w3-text-black w3-hover-text-red"><a href="login.html">Already have an account? Login</a></h5>
</div>
    

    <div style="margin-left: 50px;"    class="w3-container w3-white w3-padding-32 w3-display-left w3-round-xlarge" >
      <h3 align="center">Sign Up as Doctor</h3>
        <form action="/action_page.php" target="_blank" style="width:300px;">
          <p><input class="w3-input w3-border" type="text" placeholder="Firstname" name="fname" required></p>
           <p><input class="w3-input w3-border" type="text" placeholder="Lastname" name="lname" required></p>
            <p><input class="w3-input w3-border" type="text" placeholder="E-mail ID" name="ename" required></p>
          <p><input class="w3-input w3-border" type="text" placeholder="Username" name="uname" required></p>
          <p><input class="w3-input w3-border" type="Password" placeholder="Password" name="pass1" required></p>
          <p><input class="w3-input w3-border" type="Password" placeholder="Confirm Password" name="pass2" required></p>
          <button type="submit" class="w3-button w3-block w3-red">Sign Up</button>
        </form>
        <h5 align="center" class="w3-text-black w3-hover-text-red"><a href="login.html">Already have an account? Login</a></h5>
</div>

    <hr class="w3-border-grey" style="margin:auto;width:40%">

  </div>

  <div class="w3-display-bottomleft w3-padding-large">

    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>

  </div>

</div>

​

</body>

</html>

​

